printjson(rs.initiate(
  {
    "_id" : "rs0",
    "version" : 1,
    "members" : [
      {% for host in groups["mongodb"] %}
      {
        "_id" : {{ loop.index }},
        "host" : "{{ host }}:{{ mongodb_port }}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
))
